:root {
    --ef-primary: #b2d9ea;
    --ef-light: #f1f1f1;
    --ef-lighter: #f1f1f173;
    --ef-darkblue: #3a4a6c;
    --ef-lightblue: #495e89;
}

html {
    scroll-behavior: smooth;
}

body {
    font: 1rem/1.5 'Raleway', sans-serif !important;
}

.bg-ef-primary {
    background-color: var(--ef-primary);
}

.bg-ef-light {
    background-color: var(--ef-light);
}

.bg-ef-light-5 {
    background-color: var(--ef-lighter);
}

.bg-ef-darkblue {
    background-color: var(--ef-darkblue);
    color: #fff;
}

.bg-ef-lightblue {
    background-color: var(--ef-lightblue);
    color: #fff;
}

.ef-ribbon {
    /* background-color: var(--ef-primary); */
    padding: .3rem .3rem .3rem 0;
    width: fit-content;
    max-width: 75vw;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0, calc(100% - 15px) 50%, 100% 100%, 0% 100%);
}

.ef-ribbon .ef-ribbon-content {
    padding: 1rem calc(50px + 1rem) 1rem 1rem;
    border-bottom: 2px dashed #201600;
    border-top: 2px dashed #201600;
    border-left: none;
}

.ef-banner-content {
    border: 2px dashed #201600;
}

.ef-delimeter-left {
    border-left: 8px solid var(--ef-primary);
}

.squared {
    height: 200px;
    width: 200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    border: 1px solid #201600;
}

.rounded-xxl {
    border: 1px solid transparent;
    border-radius: 2rem;
}

.rotate--5 {
    transform: rotate(-5deg);
}

.sticky-top {
    position: sticky;
    top: 0;
}

.beer-handle {
    height: 100px !important;
    width: 100px !important;
    background-color: #fff !important;
}

.beer-handle::before {
    height: 30px !important;
    width: 30px !important;
}

.beer-handle::after {
    right: -20px !important;
    height: 30px !important;
    width: 30px !important;
}

#logo {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.position-relative {
    position: relative;
}

.text-overlay {
    position: absolute;
    padding: .3rem;
    color: #fff;
}

.bg-ef-transparent-lightblue {
    background-color: rgba(73, 94, 137, 0.6);
}
@media screen and (max-width: 768px) {
    .ef-delimeter-left{
        border-top: 3px solid var(--ef-primary);
        border-left: none;
    }
    .ef-delimeter-left img {
        /* width: 100%; */
        object-fit: contain;
        object-position: left;
    }

}

::-webkit-scrollbar {
    width: 8px;
    position: fixed;
    background-color: transparent;
}

 ::-webkit-scrollbar-track {
    border-radius: 50rem;
}

 ::-webkit-scrollbar-thumb {
    background: var(--ef-lightblue);
    border-radius: 50rem;
}

 ::-webkit-scrollbar-thumb:hover {
    background: var(--ef-darkblue);
}